SPRING_PROFILES_ACTIVE=prod
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
MQTT_BROKER_URL=tcp://mosquitto:1883

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

GMAIL_USER=pedrogamerp@gmail.com
GMAIL_PASSWORD=COLOQUE_SUA_APP_PASSWORD_SEM_ESPACOS

MQTT_SIMULATOR_BROKER=mosquitto
MQTT_SIMULATOR_PORT=1883
MQTT_SIMULATOR_TOPIC=telemetry/study
MQTT_SIMULATOR_INTERVAL=5
MQTT_SIMULATOR_EXTRA_FLAGS=--random-topic

